# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 __Objectives:__
 
- Python
- Java
- C++
- C
- Scala
- R

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas
4. Matplotlib
5. SciKit-Learn

|Data Science Tools|
|--------------------|
|RStudio|
|Apache Spark|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Launa Di Carlo